<p>Word so far: <%= word_so_far(@tally) %></p>

<p>Used letters: <%= used_letters(@tally.used) %></p>


<%= if game_ended?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f -> %>
    <%= text_input(f, :guess) %>
    <%= submit("Make next move") %>
  <% end) %>
<% end %>
